.login-text-family {
  font-family: "OpenSans-SemiBold";
}
.login-button {
  font-family: "OpenSans-Regular";
}
.login-placeholder {
  font-family: "OpenSans-Regular";
  font-size: 1.3vw;
  background-color: #fff98c;
  color: #85203b;
}
.forgot-password {
  font-family: "OpenSans-SemiBold";
  font-size: 1vw;
  color: #85203b;
  transition: 0.2s;
}
.forgot-password:hover {
  cursor: pointer;
  transform: translateY(2px);
}
