.login-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-form-control {
  font-family: "OpenSans-Regular";
  font-size: 1.3vw;
  color: #85203b;
}
.login-spinner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.login-loading-text {
  margin-left: 10px;
  font-size: 1vw;
}
.google-login-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.google-login-icon {
  width: 1.5vw;
  height: 1.5vw;
  margin-right: 10px;
  border-radius: 50%;
  background-image: url("../../assets/icons/googleButton.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.google-login-text {
  font-family: "OpenSans-Regular";
  white-space: nowrap;
  font-size: 1vw;
}
.google-login-loading {
  margin-left: 10px;
  font-family: "OpenSans-Regular";
  font-size: 1vw;
}
