.myprofile-main-area {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.myprofile-first-section {
  width: 50vw;
  height: 100vh;
  background-color: #f4fa9c;
  border-right: 1px solid #3e3636;
}
.myprofile-second-section {
  width: 50vw;
  height: 100vh;
  background-color: #f4fa9c;
}
.myprofile-user-image {
  width: 12vw;
  object-fit: cover;
  border: 1px solid #f6e3c3;
}
.myprofile-user-name {
  font-size: 2vw;
  font-family: "Nunito-SemiBold";
  color: #212530;
  white-space: nowrap;
}
