.myprofile-main-area {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.myprofile-first-section {
  width: 50vw;
  height: 100vh;
  background-color: #e2f3f5;
  border-right: 1px solid #3e3636;
}
.myprofile-second-section {
  width: 50vw;
  height: 100vh;
  background-color: #ededed;
}
.myprofile-user-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #212530;
}
.myprofile-user-name {
  font-size: 2vw;
  font-family: "Nunito-SemiBold";
  color: #212530;
  white-space: nowrap;
}
.myprofile-preview-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.myprofile-background-image {
  width: 25vw;
}
.myprofile-button-show-pass-form {
  font-family: "OpenSans-Regular";
  white-space: nowrap;
}
.myprofile-trash-icon {
  font-size: 1.1vw;
}
.myprofile-trash-icon:hover {
  cursor: pointer;
  color: red;
}
.myprofile-remove-account-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.myprofile-remove-account-text {
  font-family: "Nunito-Bold";
  color: #3e3636;
  font-size: 1.1vw;
}
.myprofile-remove-account-icon {
  font-size: 1.6vw;
}
.yes:hover {
  cursor: pointer;
  color: red;
}
.no {
  margin-left: 10px;
}
.no:hover {
  cursor: pointer;
  color: green;
}
.myprofile-trash-box {
  height: 4vh;
}
