.recipebook-area {
  height: 100vh;
  background-color: #f3cf7a;
  overflow: hidden;
}
.recipebook-list {
  height: 100vh;
  width: 50vw;
  border-radius: 5px;
  background-color: #be6a15;
  border: 1px #6e3b3b solid;
}
.recipebook-soup {
  position: absolute;
  top: 40%;
  left: 71%;
  width: 33vw;
}
.recipebook-center-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
