.myrecipes-form-text-family {
  font-family: "OpenSans-SemiBold";
}
.myrecipes-form-text-family-message {
  font-family: "OpenSans-Regular";
  background-color: #f3cf7a;
  color: #071a52;
  font-size: 1vw;
}
.myrecipes-form-scroll-area {
  height: 90vh;
  padding: 20px;
}
.myrecipes-form-player-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.myrecipes-form-player {
  position: absolute;
  top: 0;
  left: 0;
}
.myrecipes-form-trash:hover {
  color: #ee6670;
  cursor: pointer;
}
.myrecipes-form-button-loading {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.myrecipes-form-spinner {
  float: left;
}
.myrecipes-form-button-text {
  font-family: "OpenSans-Regular";
}
.myrecipes-form-buttons-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myrecipes-form-button-cancel {
  font-family: "OpenSans-Regular";
}
