.text-family {
  font-family: "OpenSans-SemiBold";
}
.text-family-message {
  font-family: "OpenSans-Regular";
  background-color: #f3cf7a;
  color: #071a52;
  font-size: 1vw;
}
.myrecipes-form-scroll-area {
  height: 88vh;
  padding: 20px;
}
