.searchrecipe-form-control {
  font-family: "OpenSans-Regular";
  font-size: 0.8vw;
  background-color: #e2f3f5;
}
.searchrecipe-icon {
  color: #baae3e;
  font-size: 0.8vw;
}
.searchrecipe-icon-box {
  background-color: #3c4049;
}
