.incompatible-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e2f3f5;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.incompatible-text {
  font-size: 6vw;
  font-family: "Nunito-SemiBold";
  text-align: center;
  word-wrap: break-word;
  color: black;
}
.incompatible-image {
  width: 60vw;
}
