.signup-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.signup-first-section {
  height: 100vh;
  width: 40vw;
  background-color: #21e6c1;
}
.signup-second-section {
  height: 100vh;
  width: 60vw;
  background-color: #278ea5;
}
