.signup-text-family {
  font-family: "OpenSans-SemiBold";
}
.signup-button {
  font-family: "OpenSans-Regular";
}
.signup-placeholder {
  font-family: "OpenSans-Regular";
  font-size: 1.3vw;
  background-color: #fffeb8;
}
