.signup-text-family {
  font-family: "OpenSans-SemiBold";
}
.signup-button {
  font-family: "OpenSans-Regular";
}
.signup-placeholder {
  font-family: "OpenSans-Regular";
  font-size: 1.3vw;
}
.signup-spinner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.signup-loading-text {
  margin-left: 10px;
}
.google-signup-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.google-signup-icon {
  flex: 1;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background-image: url("../../assets/icons/googleButton.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.google-signup-text {
  flex: 3;
  font-family: "OpenSans-Regular";
}
.google-signup-loading {
  margin-left: 10px;
  font-family: "OpenSans-Regular";
}
