.contact-form-control {
  font-family: "OpenSans-Regular";
  background-color: #17b978;
  color: #071a52;
  font-size: 1.3vw;
}
.contact-spinner {
  float: left;
}
.contact-button-loading {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}
