.box {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-text {
  font-family: "Nunito-SemiBold";
  font-size: 3em;
  color: #333333;
}
.main-sub-text {
  font-family: "OpenSans-Regular";
}
