.myprofile-form-text-family {
  font-family: "OpenSans-SemiBold";
}
.myprofile-text-family-username {
  position: relative;
  font-family: "OpenSans-Regular";
  color: #071a52;
  font-size: 1vw;
}
.myprofile-button-text {
  font-family: "OpenSans-Regular";
}
.myprofile-spinner {
  float: left;
}
.myprofile-button-loading {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.myprofile-form-trash:hover {
  color: #ee6670;
  cursor: pointer;
}
.myprofile-form-image-error {
  font-family: "OpenSans-SemiBold";
  font-size: 1vw;
  color: red;
}
.myprofile-form-iuploader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0.1;
}
.myprofile-form-button-cancel {
  font-family: "OpenSans-Regular";
}
.myprofile-form-buttons-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myprofile-form-loading-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.myprofile-form-loadingimage-text {
  font-family: "OpenSans-Regular";
  font-size: 0.9vw;
  margin-left: 5px;
}
