.calendar-box {
  background-color: #ffffff;
  padding: 3%;
  border-radius: 5px;
}
.calendar-day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  gap: 1%;
  font-size: 1.2vw;
  font-family: "Nunito-SemiBold";
  text-align: center;
  padding: 2%;
  height: 100%;
}
.calendar-day {
  border: 0.5px solid #4d4d4d;
}
.calendar-days-in-month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1%;
  font-size: 1.2vw;
  font-family: "OpenSans-Regular";
  text-align: center;
  padding: 2%;
  height: 100%;
}
.calendar-number-of-day {
  border: 0.5px solid #4d4d4d;
  transition: 0.2s;
}
.calendar-number-of-day:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.weekend {
  border: 0.5px solid #1f4287;
  color: #1f4287;
}
