.calendar-box {
  background-color: #ffffff;
  padding: 3%;
  border-radius: 5px;
}
.calendar-day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  gap: 1.5%;
  font-size: 1.2vw;
  font-family: "Nunito-SemiBold";
  text-align: center;
  padding: 2%;
  height: 100%;
  width: 100%;
}
.calendar-day {
  border: 0.5px solid #4d4d4d;
  border-radius: 3px;
  background-color: #ededed;
}
.calendar-days-in-month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1.5%;
  font-size: 1.2vw;
  font-family: "OpenSans-Regular";
  text-align: center;
  padding: 2%;
  height: 100%;
  width: 100%;
}
.calendar-number-of-day {
  border: 0.5px solid #4d4d4d;
  transition: 0.2s;
  border-radius: 3px;
}
.calendar-number-of-day:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.calendar-number-of-day-before-today {
  background-color: #e1e4e6;
  border-radius: 3px;
}
.weekend {
  border: 0.5px solid #1f4287;
  color: #1f4287;
  border-radius: 3px;
}
.weekend-before-today {
  color: #1f4287;
  border-radius: 3px;
}
.calendar-month-name {
  font-size: 1.2vw;
  font-family: "OpenSans-SemiBold";
  text-align: center;
}
.calendar-left-arrow {
  font-size: 1.5vw;
  color: #3c4049;
}
.calendar-left-arrow:hover {
  font-size: 1.5vw;
  color: #2e303f;
  cursor: pointer;
}
.calendar-right-arrow {
  font-size: 1.5vw;
  color: #3c4049;
}
.calendar-right-arrow:hover {
  font-size: 1.5vw;
  color: #2e303f;
  cursor: pointer;
}
.calendar-arrows-inactive {
  font-size: 1.5vw;
  color: #3c4049;
  opacity: 0.7;
}
.today {
  font-family: "OpenSans-SemiBold";
  border: 2px solid #3c4049;
}
