:root {
  --font-family-ossb: "OpenSans-SemiBold";
  --font-family-osr: "OpenSans-Regular";
  --font-size: 1vw;
}

.global-form-label {
  font-family: var(--font-family-ossb);
  color: #84203a;
}
.global-button-label {
  font-family: var(--font-family-osr);
  font-size: var(--font-size);
}
.global-form-control {
  font-family: var(--font-family-osr);
  font-size: var(--font-size);
  color: #071a52;
  background-color: #e2f3f5;
}
.global-emoji-button-icon {
  font-size: 1.2vw;
}
.global-emoji-wrapper {
  display: flex;
  align-items: flex-end;
}
.global-emoji-button {
  margin-left: 10%;
}
