:root {
  --font-family-ossb: "OpenSans-SemiBold";
  --font-family-osr: "OpenSans-Regular";
  --label-font-color: #84203a;
  --font-size: 1vw;
}

.global-form-label {
  font-family: var(--font-family-ossb);
  color: var(--label-font-color);
}
.global-button-label {
  font-family: var(--font-family-osr);
  font-size: var(--font-size);
}
