.myevents-form-scroll-area {
  height: 90vh;
  padding-right: 5%;
  padding-left: 3%;
}
.myevents-form-adress-suggestion-group {
  position: absolute;
  float: left;
  z-index: 2;
  background-color: white;
}
.address {
  font-size: 0.6vw;
  border: 1px solid #22d1ee;
  height: 35px;
}
.myevents-input-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.myevents-datepicker-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5vw;
}
.myevents-datepicker {
  width: 11.5vw;
  border: 1px solid #22d1ee;
  height: 35px;
  font-family: "OpenSans-Regular";
  font-size: 1vw;
}
.myevents-form-button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myevents-form-button-loading {
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1vw;
}
.myevents-form-spinner {
  float: left;
}
.myevents-datepicker-icon-box {
  display: flex;
  width: 12vw;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.myevents-datepicker-icon {
  font-size: 1.2vw;
  margin-left: 1.5px;
}
.myevents-form-trash {
  font-size: 1vw;
}
.myevents-form-trash:hover {
  color: #ee6670;
  cursor: pointer;
}
.myevents-form-image-error {
  font-family: "OpenSans-SemiBold";
  font-size: 1vw;
  color: red;
}
.myevents-icon-address-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.myevents-form-loading-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.myevents-form-loadingimage-text {
  font-family: "OpenSans-Regular";
  font-size: 0.9vw;
  margin-left: 5px;
}
.myevents-form-trash-date {
  font-size: 1vw;
  margin-left: 2%;
}
.myevents-form-trash-date:hover {
  color: #ee6670;
  cursor: pointer;
}
.myevents-form-selected-date-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
