.myevents-form-scroll-area {
  height: 90vh;
  padding: 20px;
}
.myevents-form-text-family {
  font-family: "OpenSans-SemiBold";
}
.myevents-form-text-family-message {
  font-family: "OpenSans-Regular";
  background-color: #22d1ee;
  color: #0e153a;
  font-size: 1vw;
}
.address {
  font-size: 0.7vw;
}
.myevents-form-button-cancel {
  font-family: "OpenSans-Regular";
}
.myevents-input-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
  background-color: #22d1ee;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
