.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
ul {
  display: flex;
  align-items: flex-end;
  list-style: none;
}
li {
  font-size: 1vw;
  font-family: "Nunito-SemiBold";
  text-align: center;
  transition: 0.2s;
}
li:not(.logo):hover {
  transform: scale(1.1);
  cursor: pointer;
}
li:not(.logo) > a.active {
  border-bottom: 2px #333333 solid;
}
.logo {
  display: flex;
  justify-content: left;
  font-family: "Nunito-Bold";
  font-size: 1.4vw;
}
.logo:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #3e3636;
}
.signout-loading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signout-loading-text {
  margin-left: 3px;
}
a:hover {
  text-decoration: none;
  color: #3e3636;
}
.navbar-user-icon {
  font-size: 1.3vw;
  color: #212529;
  margin-bottom: 0.5%;
}
.navbar-user-photo {
  width: 1.3vw;
  height: 1.3vw;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #212541;
  margin-bottom: 0.5%;
}
.navbar-mails-box {
  display: flex;
  flex-direction: column;
}
.navbar-mails-counter-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 9.4vw;
  height: 1vw;
}
.navbar-mails-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito-Regular";
  font-size: 0.6vw;
  color: #ffffff;
  background-color: #f11213;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  border: 1px solid #2e303f;
}
