.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 10%;
}
ul {
  list-style: none;
}
li {
  font-family: "Nunito-SemiBold";
  text-align: center;
  transition: 0.2s;
}
li:not(.logo):hover {
  transform: scale(1.1);
  cursor: pointer;
}
li:not(.logo) > a.active {
  border-bottom: 2px #333333 solid;
}
.logo {
  display: flex;
  justify-content: left;
  font-family: "Nunito-Bold";
  font-size: x-large;
}
.logo:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #3e3636;
}
a:hover {
  text-decoration: none;
  color: #3e3636;
}
