.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 10%;
}
ul {
  list-style: none;
}
li {
  display: block;
  margin-right: 5%;
  font-family: "Nunito-Regular";
  text-align: center;
  transition: 0.2s;
}
li:not(:first-child):hover {
  transform: scale(1.1);
  cursor: pointer;
}
li:not(:first-child) > a.active {
  border-bottom: 2px #333333 solid;
}
li:first-child {
  margin-right: 25%;
  font-family: "Nunito-Bold";
  font-size: x-large;
}
li:first-child:hover {
  cursor: pointer;
}
.signup {
  display: flex;
  justify-content: center;
  font-family: "Nunito-SemiBold";
  align-items: center;
  border: 2px #76c63f solid;
  border-radius: 12% 12% 12% 12% / 14% 19% 18% 20%;
}
.signup:hover {
  background-color: #f9e4ad;
}
a {
  text-decoration: none;
  color: #333333;
}
