.contact-section {
  height: 100vh;
  background-color: #a7ff83;
  overflow: hidden;
}
.first-section {
  height: 60vh;
  background-color: #a7ff83;
}
.second-section {
  height: 40vh;
  background-color: #086972;
}
.contact-text {
  font-family: "Nunito-Bold";
  font-size: 4.5vw;
  color: #071a52;
}
.button-text {
  font-family: "OpenSans-Regular";
}
.footer-paragraph {
  font-size: 1vw;
  font-family: "OpenSans-Regular";
  color: #a7ff83;
  margin: 0;
}
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-author {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkedin-icon {
  color: #071a52;
}
.linkedin-icon:hover {
  cursor: pointer;
}
.social-icon {
  width: 8vw;
}
.social-area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
