.recipient-box {
  display: flex;
  flex-direction: row;
}
.recipient-inactive {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ababab;
  border: 1px solid gray;
}
.recipient-active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a7ff83;
  border: 1px solid green;
}
.recipient-photo {
  width: 30px;
  height: 30px;
}
.recipient-name {
  margin-left: 3%;
  width: 15vw;
}
.recipient-photo-box {
  display: flex;
  flex-direction: row;
}
.recipient-suggestions-box {
  position: relative;
  left: 0;
  max-height: 60px;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
  animation: fadein 500ms;
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}
