.rate-comment-stars {
  font-size: 2vw;
  color: #3c4049;
}
.rate-stars-box {
  display: flex;
  flex-direction: row;
}
.star:hover {
  cursor: pointer;
}
.rate-comment-stars-active {
  font-size: 2vw;
  color: #ee4a70;
}
.rate-form-label {
  font-size: 1vw;
  font-family: "OpenSans-SemiBold";
  color: #3c4049;
}
.rate-form-control {
  font-family: "OpenSans-Regular";
  font-size: 1.3vw;
  color: #85203b;
  background-color: #e2f3f5;
}
.rate-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rate-button-send {
  font-family: "OpenSans-Regular";
  font-size: 1vw;
}
.rate-spinner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.rate-loading-text {
  margin-left: 10px;
  font-size: 1vw;
}
.rate-note-text {
  height: 1vh;
  font-size: 1vw;
  font-family: "OpenSans-SemiBold";
  color: #3c4049;
}
.rate-note-center {
  display: flex;
  align-items: center;
}
