.remindPass-text-family {
  font-family: "OpenSans-SemiBold";
}
.remindPass-button {
  font-family: "OpenSans-Regular";
}
.remindPass-placeholder {
  font-family: "OpenSans-Regular";
  font-size: 1.3vw;
  background-color: #fffeb8;
}
.remindPass-spinner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.remindPass-loading-text {
  margin-left: 10px;
}
