.map-iframe-box {
  position: relative;
  left: 0;
  height: 450px;
  overflow: hidden;
}
.map-iframe-hidden {
  opacity: 0;
}
.map-iframe-spinner-box {
  height: 450px;
  line-height: 150px;
}
.map-iframe-main-area {
  padding: 1%;
  background-color: #f3f6f8;
  border-radius: 5px;
}
