.map-iframe-box {
  position: relative;
  left: 0;
  height: 450px;
}
.map-iframe-hidden {
  opacity: 0;
}
.map-iframe-spinner-box {
  height: 450px;
  line-height: 150px;
}
.map-iframe-main-area {
  padding: 2px;
  background-color: #ededed;
  border-radius: 5px;
}
