.emoji-box {
  background-color: #ffffff;
  padding: 3%;
  border-radius: 5px;
}
.emoji-category-names {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  gap: 1.5%;
  font-size: 1vw;
  font-family: "Nunito-SemiBold";
  text-align: center;
  padding: 2%;
  height: 100%;
  width: 100%;
}
.emoji-category {
  cursor: pointer;
}
.emoji-category-active {
  color: red;
  cursor: pointer;
  border-bottom: 2px solid red;
}
.emoji-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  gap: 1.5%;
  font-size: 1.2vw;
  font-family: "OpenSans-Regular";
  text-align: center;
  padding: 2%;
  height: 100%;
  width: 100%;
}
