.emoji-box {
  background-color: #ffffff;
  padding: 3%;
  border-radius: 5px;
}
.emoji-category-names {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  gap: 1.5%;
  font-size: 0.8vw;
  font-family: "Nunito-SemiBold";
  text-align: center;
  padding: 2%;
  height: 100%;
  width: 100%;
}
.emoji-category {
  cursor: pointer;
}
.emoji-category-active {
  color: red;
  cursor: pointer;
  border-bottom: 2px solid red;
}
.emoji-list-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  font-size: 1.2vw;
  font-family: "OpenSans-Regular";
  text-align: center;
  padding: 3%;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.emoji-list-item {
  transition: 0.2s;
  padding: 2%;
}
.emoji-list-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.emoji-list-item-selected {
  background-color: #dee1ec;
  border-radius: 5px;
}
.emoji-scroll-area {
  height: 60vh;
}
