.myrecipes-area {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.myrecipes-first-section {
  width: 50vw;
  height: 100vh;
  background-color: #e2f3f5;
}
.myrecipes-second-section {
  width: 50vw;
  height: 100vh;
  background-color: #ffffff;
}
.myrecipes-list {
  height: 100vh;
  border-radius: 5px;
  background-color: #2e303f;
  border: 1px #6e3b3b solid;
}
.myrecipes-scroll-area {
  height: 99vh !important;
}
.myrecipes-list-loading-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.myrecipes-list-main-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10% 5% 5% 5%;
  font-family: "OpenSans-Regular";
  font-size: 1vw;
}
.myrecipes-list-item-norecipes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-family: "OpenSans-SemiBold";
  font-size: 1.1vw;
  color: #ceced6;
}
.myrecipes-list-item {
  background-color: #3c4049;
  width: 30vw;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s ease;
  margin: 5px;
}
.myrecipes-list-item:hover {
  transform: scale(0.985);
  cursor: pointer;
}
.myrecipes-list-item-picture {
  width: 7.5vw;
  height: 7.5vw;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
}
.myrecipes-list-item-timeago {
  font-family: "OpenSans-Regular";
  white-space: nowrap;
  font-size: 0.9vw;
  color: #edc23c;
}
.myrecipes-list-item-title {
  font-family: "OpenSans-SemiBold";
  font-size: 1.1vw;
  text-align: left;
  color: #ceced6;
}
.myrecipes-list-item-rate-outter {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 5.6vw;
}
.myrecipes-list-item-rate-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.myrecipes-list-item-author {
  display: flex;
  justify-content: flex-start;
  font-family: "OpenSans-Regular";
  font-size: 1vw;
  color: #ceced6;
}
.myrecipes-list-item-icon {
  margin-right: 10px;
  color: #ee6670;
  width: 1vw;
}
.myrecipes-list-item-edittrash-icon {
  width: 1vw;
  color: #b5af8e;
}
.myrecipes-list-item-edittrash-icon:hover {
  color: #ee6670;
  cursor: pointer;
}
.myrecipes-list-item-icon-box {
  margin-left: 20%;
}
.myrecipes-list-item-time {
  display: flex;
  justify-content: flex-start;
  font-family: "OpenSans-Regular";
  font-size: 1vw;
  color: #ceced6;
}
.myrecipes-button-text {
  flex: 1;
  font-size: 0.8vw;
  font-family: "OpenSans-Regular";
  text-align: left;
  margin-left: 10px;
  white-space: nowrap;
}
.myrecipes-button-new-recipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myrecipes-button-icon {
  flex: 1;
  font-size: 1.7vw;
  padding: 5px;
}
.myrecipes-button-hidden {
  position: relative;
  opacity: 0;
  overflow: hidden;
}
.myrecipes-form-shown {
  position: absolute;
  width: 50vw;
  top: 0;
  right: 0;
  opacity: 1;
  overflow: hidden;
}
.myrecipes-image {
  width: 36vw;
}
.recipeDetails-main {
  padding-left: 2%;
  padding-right: 2%;
  width: 50vw;
  height: 80vh;
}
.recipeDetails-title {
  font-family: "Nunito-Bold";
  font-size: 2.1vw;
  border-bottom: 2px black solid;
}
.recipeDetails-author-photo {
  width: 2vw;
  height: 2vw;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #212529;
}
.recipeDetails-close-icon {
  font-size: 2vw;
}
.recipeDetails-close-icon:hover {
  color: #ee6670;
  cursor: pointer;
}
.recipeDetails-picture {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border: 1px solid #572529;
  border-radius: 20px;
  padding: 10px;
}
.recipeDetails-ingredients-text {
  font-family: "OpenSans-SemiBold";
  font-size: 1.1vw;
}
.recipeDetails-ingredients-item {
  font-family: "OpenSans-Regular";
  font-size: 1.1vw;
  text-align: justify;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.recipeDetails-ingredients-description {
  font-family: "OpenSans-Regular";
  font-size: 1vw;
  text-align: justify;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f3f6f8;
  padding: 2%;
  border-radius: 5px;
}
.recipeDetails-player-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.recipeDetails-player {
  position: absolute;
  top: 0;
  left: 0;
}
.myrecipes-recipe-preview {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  overflow: hidden;
}
.myrecipes-button-preview-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.myrecipes-preview-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myrecipes-preview-button:hover {
  background-color: #6c757d;
}
.myrecipes-preview-button-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myrecipes-preview-button-delete:hover {
  background-color: #dc3545;
}
.myrecipes-preview-button-icon {
  width: 1vw;
}
