.login-area {
  height: 100vh;
  width: 100vw;
  background-color: #fff98c;
  overflow: hidden;
}
.login-first-section {
  height: 40vh;
  background-color: #fff98c;
  border-bottom: 2px #cb3b3b solid;
  overflow: hidden;
}
.login-second-section {
  height: 60vh;
  background-color: #e0c45c;
  overflow: hidden;
}
.login-image {
  width: 23vw;
}
