.myevents-main-area {
  background-color: #e2f3f5;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.myevents-first-section {
  height: 100vh;
  width: 50vw;
}
.myevents-second-section {
  height: 100vh;
  width: 50vw;
}
.myevents-list-main-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10% 5% 5% 5%;
  font-family: "OpenSans-Regular";
  font-size: 1vw;
}
.myevents-list {
  height: 100vh;
  border-radius: 5px;
  background-color: #2e303f;
  border: 1px #6e3b3b solid;
}
.myevents-list-simplebar {
  height: 99vh !important;
}
.myevents-button-text {
  width: 6.5vw;
  font-size: 0.8vw;
  font-family: "OpenSans-Regular";
  text-align: left;
  white-space: nowrap;
}
.myevents-main-image {
  width: 23vw;
}
.myevents-button-active {
  border-right: 2px red solid;
}
.myevents-button-border-active {
  width: 0.4vw;
  background-color: #d8553c;
  border-radius: 3px;
  opacity: 1;
}
.myevents-button-border-nonactive {
  width: 0.4vw;
  opacity: 0;
}
.myevents-button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
