.myevents-main-area {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.myevents-first-section {
  height: 100vh;
  width: 50vw;
  background-color: #e2f3f5;
}
.myevents-second-section {
  height: 100vh;
  width: 50vw;
  background-color: #ffffff;
}
.myevents-top-box {
  height: 25vh;
}
.myevents-list-main-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10% 5% 5% 5%;
  font-family: "OpenSans-Regular";
  font-size: 1vw;
}
.myevents-list {
  height: 100vh;
  border-radius: 5px;
  background-color: #2e303f;
  border: 1px #6e3b3b solid;
}
.myevents-list-simplebar {
  height: 99vh !important;
}
.myevents-button-text {
  width: 6.5vw;
  font-size: 0.8vw;
  font-family: "OpenSans-Regular";
  text-align: left;
  white-space: nowrap;
}
.myevents-main-image {
  width: 23vw;
}
.myevents-button-active {
  border-right: 2px red solid;
}
.myevents-button-border-active {
  width: 0.4vw;
  background-color: #d8553c;
  border-radius: 3px;
  opacity: 1;
}
.myevents-button-border-nonactive {
  width: 0.4vw;
  opacity: 0;
}
.myevents-button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.myevents-button-new-event {
  width: 7vw;
  font-size: 0.8vw;
  font-family: "OpenSans-Regular";
  white-space: nowrap;
}
.myevents-buttons-hidden {
  position: relative;
  opacity: 0;
  overflow: hidden;
}
.myevents-form-shown {
  position: absolute;
  width: 50vw;
  top: 0;
  right: 0;
  opacity: 1;
  overflow: hidden;
}
.myevents-loading-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.myevents-item-noevents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-family: "OpenSans-SemiBold";
  font-size: 1.1vw;
  color: #ceced6;
}
.myevents-item {
  background-color: #3c4049;
  width: 30vw;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s ease;
  margin: 5px;
}
.myevents-item:hover {
  transform: scale(0.985);
  cursor: pointer;
}
.myevents-item-picture {
  width: 7.5vw;
  height: 7.5vw;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  object-fit: cover;
}
.myevents-item-timeago {
  font-family: "OpenSans-Regular";
  white-space: nowrap;
  font-size: 0.9vw;
  color: #edc23c;
}
.myevents-item-title {
  font-family: "OpenSans-SemiBold";
  font-size: 1.2vw;
  text-align: left;
  color: #ceced6;
}
.myevents-item-author {
  display: flex;
  justify-content: flex-start;
  font-family: "OpenSans-Regular";
  font-size: 1vw;
  color: #ceced6;
}
.myevents-item-icon {
  margin-right: 10px;
  color: #ee6670;
  width: 1vw;
}
.myevents-item-available-places {
  display: flex;
  justify-content: flex-start;
  font-family: "OpenSans-Regular";
  font-size: 1vw;
  color: #ceced6;
}
.myevents-item-location {
  display: flex;
  justify-content: flex-start;
  font-family: "OpenSans-Regular";
  font-size: 0.9vw;
  color: #ceced6;
}
.eventpreview-title {
  font-family: "Nunito-Bold";
  font-size: 2.1vw;
  border-bottom: 2px black solid;
}
.eventpreview-author-photo {
  width: 2vw;
  height: 2vw;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #212529;
}
.eventpreview-close-icon {
  font-size: 2vw;
}
.eventpreview-close-icon:hover {
  color: #ee6670;
  cursor: pointer;
}
.eventpreview-main {
  padding-left: 2%;
  padding-right: 2%;
  width: 50vw;
  height: 80vh;
}
.eventpreview-picture {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  border: 1px solid #572529;
  border-radius: 20px;
  padding: 10px;
}
.eventpreview-description-text {
  font-family: "OpenSans-SemiBold";
  font-size: 1.1vw;
}
.eventpreview-description {
  font-family: "OpenSans-Regular";
  font-size: 1vw;
  text-align: justify;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #ededed;
  padding: 1%;
  border-radius: 5px;
}
.eventpreview-button-preview-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.eventpreview-preview-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eventpreview-preview-button:hover {
  background-color: #6c757d;
}
.eventpreview-preview-button-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eventpreview-preview-button-delete-disabled {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eventpreview-preview-button-delete:hover {
  background-color: #dc3545;
}
.eventpreview-preview-button-icon {
  width: 1vw;
}
.eventpreview-recipe-preview {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  overflow: hidden;
}
.myevents-button-preview-action {
  flex: 1;
  font-size: 0.9vw;
  font-family: "OpenSans-Regular";
  text-align: left;
  margin-left: 10px;
  white-space: nowrap;
}
.eventpreview-available-places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.eventpreview-available-places-text {
  font-size: 0.9vw;
  font-family: "Nunito-SemiBold";
  color: #2e303f;
}
.number {
  font-size: 1.2vw;
  font-family: "Nunito-Bold";
  color: #0e153a;
}
.eventpreview-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.eventpreview-address-text {
  font-size: 1.5vw;
  font-family: "Nunito-Regular";
  color: #2e303f;
}
.eventpreview-address-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ededed;
  border-radius: 5px;
}
.tel {
  font-size: 1.3vw;
  font-family: "Nunito-Bold";
}
.data {
  font-size: 1.2vw;
  font-family: "Nunito-SemiBold";
}
.eventpreview-participant-photo {
  width: 1.8vw;
  height: 1.8vw;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #212529;
}
.eventpreview-participant-photo-box {
  display: flex;
  width: 80px;
  height: 80px;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.eventpreview-participant-name {
  font-size: 0.8vw;
  font-family: "OpenSans-Regular";
  word-wrap: break-word;
}
.eventpreview-participant-main-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.eventpreview-no-participants {
  font-family: "OpenSans-Regular";
  font-size: 1vw;
  text-align: justify;
  height: 40px;
}
.animate {
  animation: scale 500ms;
}
.myevents-calendar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    color: #ef3737;
  }
  100% {
    transform: scale(1);
  }
}
