.suggestions-box {
  position: relative;
  max-height: 60px;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
  animation: fadein 500ms;
  width: 20vw;
}
.suggestion-item {
  font-family: "OpenSans-SemiBold";
  color: #212529;
  font-size: 0.9vw;
  background-color: #43dde6;
}
.suggestion-item:hover {
  cursor: pointer;
  background-color: #ededed;
}
.no-result {
  font-family: "OpenSans-SemiBold";
  color: #ff0013;
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}
