.mails-area {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.mails-first-section {
  width: 50vw;
  height: 100vh;
  background-color: #e2f3f5;
}
.mails-second-section {
  width: 50vw;
  height: 100vh;
  background-color: #e2f3f5;
}
.mails-image {
  width: 50vw;
}
.mails-button-icon {
  font-size: 1.5vw;
  padding: 5px;
}
.mails-list-item-picture {
  width: 6vw;
  height: 6vw;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
}
.mails-list-item-author {
  display: flex;
  justify-content: flex-start;
  font-family: "OpenSans-Regular";
  font-size: 1vw;
  color: #ceced6;
}
.mails-recipient-inactive {
  width: 0.9vw;
  height: 0.9vw;
  border-radius: 50%;
  background-color: #ababab;
  border: 1px solid gray;
}
.mails-recipient-active {
  width: 0.9vw;
  height: 0.9vw;
  border-radius: 50%;
  background-color: #a7ff83;
  border: 1px solid green;
}
.mails-list-loading-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.mails-list-item-norecipes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-family: "OpenSans-SemiBold";
  font-size: 1.1vw;
  color: #ceced6;
}
.mails-list-main-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10% 5% 5% 5%;
  font-family: "OpenSans-Regular";
  font-size: 1vw;
}
.mails-list-item {
  background-color: #3c4049;
  width: 30vw;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s ease;
  margin: 5px;
}
.mails-list-item:hover {
  transform: scale(0.985);
  cursor: pointer;
}
.mails-item-timeago {
  font-family: "OpenSans-Regular";
  white-space: nowrap;
  font-size: 0.9vw;
  color: #edc23c;
}
.mails-list-item-title {
  font-family: "OpenSans-SemiBold";
  font-size: 1.1vw;
  text-align: left;
  color: #ceced6;
}
.mails-list-item-icon {
  margin-right: 10px;
  color: #ee6670;
  width: 1vw;
}
.mails-list-photo-box {
  width: 8vw;
  display: flex;
  flex-direction: row;
  padding: 5%;
}
.mails-list-item-message-unread {
  font-family: "OpenSans-SemiBold";
  color: #e2f3f5;
}
