.mails-area {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.mails-first-section {
  width: 50vw;
  height: 100vh;
  background-color: #e2f3f5;
}
.mails-second-section {
  width: 50vw;
  height: 100vh;
  background-color: #e2f3f5;
}
.mails-image {
  width: 50vw;
}
.mails-button-icon {
  flex: 1;
  font-size: 1.5vw;
  padding: 5px;
}
.mails-list-item-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
}
.mails-list-item-author {
  display: flex;
  justify-content: flex-start;
  font-family: "OpenSans-Regular";
  font-size: 1vw;
  color: #ceced6;
}
.mails-message-text {
  text-align: justify;
}
