.message-form-buttons-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-spinner {
  float: left;
}
.message-button-loading {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1vw;
}
.message-form-conversation-box {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  overflow: hidden;
  height: 45vh;
}
.message-form-conversation-scroll {
  height: 44vh;
}
.message-form-control {
  font-family: "OpenSans-Regular";
  font-size: 1vw;
  color: #071a52;
  background-color: #ffffff;
}
.message-form-conversation-item {
  font-family: "OpenSans-SemiBold";
  color: #212529;
  font-size: 0.9vw;
}
.message-form-recipient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  border-radius: 5px;
  padding: 2%;
  border: 1px solid #ced4da;
  background-color: #ffffff;
  font-family: "OpenSans-Regular";
  color: #212529;
  font-size: 1vw;
}
.message-form-recipient-trash {
  font-size: 0.8vw;
  margin-left: 2%;
}
.message-form-recipient-trash:hover {
  color: #ee6670;
  cursor: pointer;
}
.conversation-content {
  margin-top: 2%;
  text-align: justify;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: "OpenSans-Regular";
  font-size: 1vw;
  background-color: #f3f6f8;
  border-radius: 5px;
  padding: 2%;
}
.conversation-author {
  font-family: "OpenSans-SemiBold";
  font-size: 0.9vw;
  margin-left: 2%;
}
.conversation-author-image {
  width: 1.3vw;
  height: 1.3vw;
}
.conversation-author-box {
  display: flex;
  flex: 3;
  flex-direction: row;
  align-items: center;
}
.conversation-date {
  display: flex;
  flex: 1;
  font-family: "OpenSans-Regular";
  font-size: 0.9vw;
  color: #2e303f;
}
.conversation-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}
